@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    @apply bg-gradient-to-br from-[#8589EB] to-[#A3ABFF]
 min-h-screen;
  }

  h1, h2, .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
}
